{include file="../templates/sistema_de_produccion/cabecera.html" title=".:: Macaws S.R.L. - Sistema Interno ::."}

<br />

<table width="75%" border="0" align="center" cellpadding="3" cellspacing="3">
<form action="../../controladores/sistema_de_produccion/producto_status.php" method="post" name="producto" id="producto">
  <tr>
    <th colspan="4">Buscar producto</th>
  </tr>
  
  {if $errores.err_modelo != null}
  <tr>
    <td />
    <td><div class="error-box" style="width:300px;">{$errores.err_modelo}</div><td>
  </tr>
  {/if}
  
  <tr>
    <td class="enunciados">Producto: </td>
    <td colspan="3">
		<span class="entrada">
			<input type="text" name="modelo" id="modelo" value="{$modelo}" size="73" style="border:none;" onkeypress="return enter_handle(this, event, 1, 1)"/>
			<img src="../../templates/imagenes/combo.jpg" class="imagenes" onclick="document.forms[0].modelo.focus();document.forms[0].modelo.select();" style="cursor:pointer;" alt="Seleccionar producto"/>
		</span>
        <span id="spinner" style="display: none"></span>
        <div id="lista_modelos" class="autorelleno"></div>
		{literal}
		<script>
			new Ajax.Autocompleter("modelo", "lista_modelos", "../../controladores/sistema_de_produccion/modificar_detalle_orden.php?busqueda_ajax=modelos", {method:"post", paramName: "value", minChars: 1, indicator: "spinner"});
		</script>
		{/literal} 
	</td>
  </tr>

  {if $errores.err_clip != null}
  <tr>
    <td />
    <td><div class="error-box">{$errores.err_clip}</div><td>
  </tr>
  {/if}
  
  <tr>
    <td class="enunciados">Clip: </td>
    <td>
		<span class="entrada">
			<input type="text" name="clip" id="clip" value="{$clip}" size="45" style="border:none;" onkeypress="return enter_handle(this, event, 2, 1)"/>
			<img src="../../templates/imagenes/combo.jpg" class="imagenes" onclick="document.forms[0].clip.focus();document.forms[0].clip.select();" style="cursor:pointer;" alt="Seleccionar clip"/>
		</span>
		<span id="spinner" style="display: none"></span>
		<div id="lista_clips" class="autorelleno"></div>
		{literal}
		<script>
			new Ajax.Autocompleter("clip", "lista_clips", "../../controladores/sistema_de_produccion/modificar_detalle_orden.php?busqueda_ajax=clips", {method:"post", paramName: "value", minChars: 1, indicator: "spinner"});
		</script>
		{/literal} 
	</td>
	<td rowspan="3">
		<input type="submit" name="buscar" value="Buscar" class="enviar" onmouseover="this.className='boton'" onmouseout="this.className='enviar'"/>
    </td>
  </tr>
  
  {if $errores.err_cuero != null}
  <tr>
    <td />
    <td><div class="error-box">{$errores.err_cuero}</div><td>
  </tr>
  {/if}

  <tr>
    <td class="enunciados">Cuero: </td>
    <td>
		<span class="entrada">
			<input type="text" name="cuero" id="cuero" value="{$cuero}" size="45" style="border:none;" onkeypress="return enter_handle(this, event, 1, 1)"/>
			<img src="../../templates/imagenes/combo.jpg" class="imagenes" onclick="document.forms[0].cuero.focus();document.forms[0].cuero.select();" style="cursor:pointer;" alt="Seleccionar cuero"/>
		</span>
        <span id="spinner" style="display: none"></span>
        <div id="lista_cueros" class="autorelleno"></div>
		{literal}
		<script>
			new Ajax.Autocompleter("cuero", "lista_cueros", "../../controladores/sistema_de_produccion/modificar_detalle_orden.php?busqueda_ajax=cueros", {method:"post", paramName: "value", minChars: 1, indicator: "spinner"});
		</script>
		{/literal}
	</td>
  </tr>
  
  {if $errores.err_cliente != null}
  <tr>
    <td />
    <td><div class="error-box">{$errores.err_cliente}</div><td>
  </tr>
  {/if}
  
  <tr>
    <td class="enunciados">Cliente: </td>
    <td>
		<span class="entrada">
			<input type="text" name="cliente" id="cliente" value="{$cliente}" size="45" style="border:none;" onkeypress="return enter_handle(this, event, 3, 1)"/>
			<img src="../../templates/imagenes/combo.jpg" class="imagenes" onclick="document.forms[0].cliente.focus();document.forms[0].cliente.select();" style="cursor:pointer;" alt="Seleccionar cliente"/>
		</span>
		<span id="spinner" style="display: none"></span>
		<div id="lista_clientes" class="autorelleno"></div>
		{literal}
		<script>
			new Ajax.Autocompleter("cliente", "lista_clientes", "../../controladores/sistema_de_produccion/registrar_orden.php?busqueda_ajax=clientes",{method: "post", paramName: "value" , minChars: 1, indicator: "spinner" });
		</script>
		{/literal}
	</td>
  </tr>
</form>
</table>


{if $resultado != null}
  <br />
  <table  width="90%" border="0" align="center" cellpadding="2" cellspacing="1">
	<tr>
		<th colspan="8">Estado del producto</th>
	</tr>
	<tr>
		<td class="enunciados" style="text-align:center;">O.P.</td>
		<td class="enunciados" style="text-align:center;">Pedido</td>
		<td class="enunciados" style="text-align:center;">Asignaci&oacute;n</td>
		<td class="enunciados" style="text-align:center;">Cant. Asignada</td>
		<td class="enunciados" style="text-align:center;">Fecha Inicio</td>
		<td class="enunciados" style="text-align:center;">Fecha Fin</td>
		<td class="enunciados" style="text-align:center;">Fecha Rep.</td>
		<td class="enunciados" style="text-align:center;">Despacho</td>
	</tr>
	
	  {assign var=flag value=""}
	  {assign var=CSSclass value=0}
	  {assign var=clases value="lista-normal"}
	
	{foreach item=orden from=$resultado}
      {if $orden.op != $flag}
      	{assign var="CSSclass" value="`$CSSclass+1`"}
      	{if ($CSSclass mod 2) eq 0}
      		{assign var=clases value="lista-seleccionada"}
      	{else}
      		{assign var=clases value="lista-normal"}
      	{/if}
      {/if}
	
	<tr class="{$clases}" onMouseOver="this.style.cursor = 'pointer';this.className = 'lista_terrible';" onMouseOut="this.className = '{$clases}';">
		<td style="text-align:center;">{$orden.op}</td>
		<td style="text-align:center;">{$orden.pedido}</td>
		<td style="text-align:center;">{$orden.asignacion}</td>
		<td style="text-align:center;">{$orden.cantasignacion}</td>
		<td style="text-align:center;">{$orden.feciniasig}</td>
		<td style="text-align:center;">{$orden.fecfinasig}</td>
		<td style="text-align:center;">{$orden.fecrepasig}</td>
		<td style="text-align:center;">{$orden.despacho}</td>
	</tr>
		{assign var=flag value=$orden.op}
	{/foreach}
	<tr>
		<td colspan="8">
			<hr />
		</td>
	</tr>
	</table>
{else}
	{if $mensaje != null}
	<br />
	<table width="95%" border="0" align="center" cellpadding="0" cellspacing="3">
	  <tr>
		<td>
			<div class="anuncio" align="center"><img src="../../templates/imagenes/advertencia.gif" style="vertical-align:middle"/>&nbsp;&nbsp;&nbsp;{$mensaje}</div>
		</td>
	  </tr>
	</table>
	{/if}
{/if}