{include file="../templates/sistema_de_produccion/cabecera.html"} <br />

<form name="orden" method="post" action="../../controladores/sistema_de_produccion/area.php?funcion=validar"  align="center">
<table border="0" align="center" cellpadding="3" cellspacing="3" width="40%">
  <tr>
    <th colspan="2">Registrar Area</th>
  </tr>
  <tr>
    <td class="enunciados">Nombre Area:</td>
    <td class="body-sector" style="padding:3px;">
		<span align="left" class="entrada" style="margin:5px;vertical-align:top;">
			<img src="../../templates/imagenes/nombre.jpg" class="imagenes"/>
			<input name="nombre_area" type="text" id="nombre_area" value="{$nombre_area}" size="50" tabindex="1" style="border:none;" onkeypress="return enter_handle(this, event, 1, 1)">
		</span>	</td>
  </tr>
  <tr>
<td class="enunciados">Responsable Area:</td>
<td class="lista-seleccionada">
<input type="hidden" name="maquinista_id" id="maquinista_id" value="{$personal_id}" size="1" />
<span align="left" class="entrada" style="margin:5px;">
<input type="text" name="nombre" id="nombre" style="border:none;" onkeypress="return handleEnter(this, event)" value="{$nombre}" size="50"/>
<img src="../../templates/imagenes/combo.jpg" class="imagenes" onclick="document.forms[1].nombre.focus();document.forms[1].nombre.select();" style="cursor:pointer;" alt="Seleccionar Nombre"/> </span> <span id="spinner" style="display:none"></span>
<div id="lista_nombres" class="autorelleno"></div>
{literal}
<script>
				new Ajax.Autocompleter("nombre", "lista_nombres", "../../controladores/sistema_de_produccion/area.php?busqueda_ajax=personal", {method:"post", paramName: "value", minChars: 1, indicator: "spinner", afterUpdateElement : mostrar_categoria});
				function mostrar_categoria(text,li){ 
				  cadena = li.id;
				  caracteristicas = cadena.split("-");
				  document.getElementById("maquinista_id").value = caracteristicas[0];
				  var str = document.getElementById("nombre").value;
				  document.getElementById("nombre").value = str.substr(0)
				}
</script>
{/literal} 
</td>
  <tr>
    <td class="enunciados">Observaciones:</td>
    <td class="body-sector" colspan="4" rowspan="3">
		<textarea name="observaciones" cols="45" rows="4" wrap="virtual" id="observaciones" style="overflow-x:hidden;overflow:auto">{$observaciones}</textarea>
    </td>
  </tr>
</table>
<center>
  <br>
  <input type="submit" value="Guardar datos" class="enviar" onmouseover="this.className='boton'" onmouseout="this.className='enviar'">
</center>
</form>
{literal}
{/literal}
</body>