{include file="../templates/sistema_de_produccion/cabecera.html" title=".:: Macaws S.R.L. - Sistema Interno ::."}

<br />

<form action="../../controladores/sistema_de_produccion/personal.php" method="post" name="personal" id="personal">
<table width="80%" border="0" align="center" cellpadding="0" cellspacing="3">
  <tr>
    <th colspan="3">Buscar Personal por Nombre</th>
  </tr>

  {if $errores.err_nombre_bus != null }
  <tr>
	<td/>
	<td>
		<div class="error-box">{$errores.err_nombre_bus}</div>
	</td>
	<td/>
  </tr>
  {/if}

   <tr>
    <td class="enunciados" width="25%">Ingrese Nombre:</td>
    <td >
		<div align="left" class="entrada">
		<img src="../../templates/imagenes/buscar.jpg" class="imagenes"/>
		<input name="nombre_bus" type="text" id="nombre_bus" style="border:none;" onkeypress="return handleEnter(this, event)" value="{$nombre_bus}" size="37">
		</div>
	</td>
	<td width="25%">
		<div align="center">
			<input name="buscar_nombre" type="submit" value="Buscar Personal" class="enviar" onmouseover="this.className='boton'" onmouseout="this.className='enviar'">
		</div>
	</td>
  </tr>
</table>
</form>

{if $mensaje != null}
<table width="80%" border="0" align="center" cellpadding="0" cellspacing="3">
  <tr>
	<td>
		<div class="anuncio" align="center"><img src="../../templates/imagenes/advertencia.gif" style="vertical-align:middle"/>&nbsp;&nbsp;&nbsp;{$mensaje}</div>
	</td>
  </tr>
</table>
{/if}