<form action="../../controladores/sistema_de_produccion/personal.php" method="post" name="personal" id="personal">
<table width="80%" border="0" align="center" cellpadding="0" cellspacing="3">
  <tr>
  	<td class="enunciados">Nombre: </td>
	<td class="datos-reporte" style="font-weight:bold;background-color:#E5E5E5;padding-left:10px;text-align:left;">{$completo}</td>
  </tr>
  <tr>
    <td class="enunciados">Puesto(s) de Trabajo: </td>
    <td class="body-sector" style="padding-left:10px;">
	<input name="usuario_id" type="hidden" value="{$usuario_id}">
	<input name="fecactual" type="hidden" id="fecactual" value="{$fecha_hoy}" READONLY>
		{foreach key=key item=item from=$puestos}
			{if $puesto[$key] eq $item.puesto_trabajo_id}
			<input name="puesto[{$item.puesto_trabajo_id}]" type="checkbox" value="{$item.puesto_trabajo_id}" id="{$item.puesto_trabajo_id}" checked="checked" />
			<label for="{$item.puesto_trabajo_id}" style="cursor:pointer;">{$item.nombre_puesto_trabajo}</label><br />
			{else}
			<input name="puesto[{$item.puesto_trabajo_id}]" type="checkbox" value="{$item.puesto_trabajo_id}" id="{$item.puesto_trabajo_id}"/>
			<label for="{$item.puesto_trabajo_id}" style="cursor:pointer;">{$item.nombre_puesto_trabajo}</label><br />
			{/if}
		{/foreach}	</td>
  </tr>
  <tr>
    <td colspan="2" style="padding:10px;text-align:center;">
	    <input name="guardar_puestos" type="submit" value="Guardar Puestos" tabindex="5" class="enviar" onmouseover="this.className='boton'" onmouseout="this.className='enviar'"/>
	    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input name="reset" type="reset" value="Reestablecer Datos" class="boton">
	</td>
  </tr>
</table>
</form>
<br>
