{include file="cabecera.html"} <br />
{literal}

<script language="javascript">
/*function actualizar (paginaservidor,combo,lista,clave){

var miAjax = new Ajax(paginaservidor,
{
	method: 'get',
	data:clave+'='+$(combo).value,
	
	update: $(lista)
	
});
miAjax.request();

//alert (paginaservidor+" "+combo+" "+lista+" "+$(combo).value);
}*/
function actualizar (paginaservidor,combo,lista,clave){

new Ajax.Updater(lista, paginaservidor, { 
  method: 'get', 
  parameters: { primaria: $F(combo)} 
});

//alert (paginaservidor+" "+combo+" "+lista+" "+$(combo).value);
}
</script>
{/literal}
<form name="orden" method="get" action="../controladores/modificar_activo.php"  align="center">
<table border="0" align="center" cellpadding="0" cellspacing="3" width="95%">
  <tr>
    <th>Modificacion de activos </th>
  </tr>
 
</table>

<table width="90%" border="0" align="center" cellpadding="0" cellspacing="3">
  {if $errores.err_confirm != null }
  
    <tr>
      <td class="error-box" colspan="2"> {$errores.err_confirm} </td>
    </tr>
  {/if}
  {if $errores.err_pri != null }
  <tr>
    <td class="error-box" colspan="2"> {$errores.err_pri}  </td>
  </tr>
  {/if}
  
  {if $errores.err_sec != null }
  <tr>
    <td class="error-box" colspan="2"> {$errores.err_sec} </td>
  </tr>
  {/if}
  
  {if $errores.err_gru != null }
  <tr>
    <td class="error-box" colspan="2">&nbsp;</td>
  </tr>
  {/if}
  
  {if $errores.err_nombre != null }
  <tr>
    <td class="error-box" colspan="2"> </td>
  </tr>
  {/if}
  
  <td width="22%" class="enunciados">Localizacion Primaria</td>
 
    <td width="23%"><div id="primaria"> 
	<select name="pri" id="pri2" onchange="actualizar ('combo1.php','pri2','secundaria','primaria')" >
     
	   <option value="{$detalle.primaria_id}">{$detalle.despri}</option>
             	    	  		
  {foreach item=item from=$primaria}	 
	       
      <option value="{$item.primaria_id}">{$item.descripcion}</option>
          	    	
	  
	{/foreach}	
    
    </select></div></td>
    <td width="9%"  class="enunciados">Responsable:</td>
    <td width="46%" ><div align="left" class="entrada" style="margin:5px; border:none" >
      <span class="entrada" style="margin:5px; border:none"><span class="entrada" style="margin:5px;">
      <input type="text" name="nombre_asis2" id="nombre_asis2" style="border:none;"  onkeypress="return handleEnter(this, event)" value="" size="40"/>
      </span></span>
      <input type="hidden" name="resp_id2" id="resp_id2"  value="" />
            <img src="../../templates/imagenes/combo.jpg" class="imagenes" onclick="{literal}document.getElementById('nombre_asis2').focus();document.getElementById('nombre_asis2').select();{/literal}" style="cursor:pointer;" alt="Seleccionar Nombre"/></div>
        <span id="spinner" style="display:none"> </span>
        <div id="lista_nombres_asis" class="autorelleno"></div>
      {literal}
      <script>
			new Ajax.Autocompleter("nombre_asis2", "lista_nombres_asis", "../controladores/activo.php?opcion=busqueda_ajax1", {method:"post", paramName: "nombre", minChars: 1, indicator: "spinner", afterUpdateElement : mostrar_categoria});
			function mostrar_categoria(text,li) {
				cadena = li.id;
				//caracteristicas = cadena.split("-");
				//var str = document.getElementById("nombre_asis").value;
				document.getElementById("resp_id2").value = cadena;
				document.getElementById("nombre_asis2").value = str.substr(0)
			}
		</script>
      {/literal}</td>
  </tr>
  <tr>
    <td class="enunciados">Localizacion Secundaria </td>
    <td>
 <div id="secundaria" >
	  <select name="secun" id="select"  >
        <option value="{$detalle.secundaria_id}">{$detalle.dessec}</option>
		{foreach item=item from=$secundaria}	 
	   		      
            
      <option value="{$item.secundaria_id}">{$item.descripcion}</option>
                      	    	   
	  
	{/foreach}	
  
				
      </select>

	  </div>
	
	  
	</td>
    <td class="enunciados">Asignado:</td>
    <td class="body-sector" ><div align="left" class="entrada" style="margin:5px; border:none" >
      <span class="entrada" style="margin:5px; border:none"><span class="entrada" style="margin:5px;">
      <input type="text" name="nombre_asis" id="nombre_asis" style="border:none;"  onkeypress="return handleEnter(this, event)" value="" size="40"/>
      </span></span>
      <input type="hidden" name="resp_id" id="resp_id"  value="" />
            <img src="../../templates/imagenes/combo.jpg" class="imagenes" onclick="{literal}document.getElementById('nombre_asis').focus();document.getElementById('nombre_asis').select();{/literal}" style="cursor:pointer;" alt="Seleccionar Nombre"/></div>
        <span id="spinner" style="display:none"> </span>
        <div id="lista_nombres_asis" class="autorelleno"></div>
      {literal}
      <script>
			new Ajax.Autocompleter("nombre_asis", "lista_nombres_asis", "../controladores/activo.php?opcion=busqueda_ajax", {method:"post", paramName: "nombre", minChars: 1, indicator: "spinner", afterUpdateElement : mostrar_categoria});
			function mostrar_categoria(text,li) {
				cadena = li.id;
				//caracteristicas = cadena.split("-");
				//var str = document.getElementById("nombre_asis").value;
				document.getElementById("resp_id").value = cadena;
				document.getElementById("nombre_asis").value = str.substr(0)
			}
		</script>
      {/literal}
      <div id="mainContent"> <a  href="javascript:ventanaSecundaria ('responsable.php?popup=true')"> registrar responsable </a> </div></td>
  </tr>
  <tr>
    <td width="9%"  class="enunciados">Cuenta</td>
    <td><select name="gru" id="sec"  >
      <option value="{$detalle.grupo_id}">{$detalle.desgru}</option>
      
      
      
          
  {foreach item=item from=$grupo}	 
	   
      		
        
      
      
      <option value="{$item.grupo_id}">{$item.descripcion}</option>
      
      
      
        
         	    	   
	  
	{/foreach}	
  
      
    
    
    </select></td>
    <td class="enunciados">&nbsp;</td>
    <td class="body-sector" >&nbsp;</td>
  </tr>
</table>
<table width="90%" border="0" align="center" cellpadding="0" cellspacing="3">
  <tr>{if $errores.err_corr1 != null }</tr>
  <tr>
    <td class="error-box" colspan="2"> {$errores.err_corr1} </td>
  </tr>
  {/if}
  <tr>{if $errores.err_corr != null }</tr>
  <tr>
    <td class="error-box" colspan="2"> {$errores.err_corr} </td>
  </tr>
  {/if}
  <tr>
    <td><input type="hidden" name="funcion" value="validar" />
      <input type="hidden" name="act_id" value="{$detalle.act_id}" /></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="enunciados">N Correlativo: </td>
    <td><input type="text" name="num_corr" value="{$detalle.num_act}" /></td>
    <td class="enunciados">Fecha</td>
    <td class="body-sector"><input type="text" name="fecha"  value="{$detalle.fecha}"/></td>
    <td class="enunciados">$ Dolares</td>
    <td class="body-sector"><input type="text" name="tipo"  value="{$tipo_cambio}"/>    </td>
  </tr>
  <tr>
    <td class="enunciados">Cantidad:</td>
    <td><input type="text" name="cantidad"  value="1"/></td>
    <td class="enunciados">Unidad</td>
    <td><select name="unidad" id="select2" >
      <option value="">seleccionar</option>
      <option value="Pza">Pza</option>
      <option value="GLB">GLB</option>
      <option value="Juego">Juego</option>
    </select></td>
    <td class="enunciados">UFV</td>
    <td><span class="body-sector">
      <input type="text" name="ufv"  value="{$detalle.ufv}"/>
    </span></td>
  </tr>
  <tr> </tr>
  <tr>
    <td  class="enunciados">Adquisicion:</td>
    <td><select name="adqui" id="select4" >
                             
          
  {foreach item=item from=$adqui}	       
      
            
      <option value="{$item.ad_id}">{$item.nombre}</option>
      
   	  
	{/foreach}	 
    
    </select></td>
    <td class="enunciados">Serie: </td>
    <td><input type="text" name="serie"  value="{$detalle.serie}"/></td>
    <td class="enunciados">Vida Util </td>
    <td><input type="text" name="vida_util"  size="12" value="{$detalle.vida_util}"/></td>
  </tr>
  <tr>
    <td  >&nbsp;</td>
    <td>&nbsp;</td>
    <td class="enunciados">Descripcion:</td>
    <td><textarea name="descripcion" cols="35" rows="4">{$detalle.desact}</textarea></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
<table width="95%" border="0" align="center" cellpadding="0" cellspacing="3">
  
  <tr>
    <td width="30%" >&nbsp;</td>
    <td width="7%" class="enunciados">Valor (Bs) </td>
    <td width="9%" ><input type="text" name="valor"  size="10" value="{$detalle.valor_compra}" /></td>
    <td width="11%" class="enunciados">Valor Residual (Bs):</td>
    <td width="43%"><input type="text" name="residual"  size="10" value="{$detalle.valor_residual}"/></td>
    </tr>
</table>

<p>&nbsp;</p>
<table width="95%" border="0" cellspacing="2" cellpadding="0">
  <tr>{foreach item=item from=$foto}
  
  
    <td width="6%"><img src="personal_resizeImage.php?max=150&imgorig=../controladores/UploadedFiles/{$item.fotografia}" alt="{$item.fotografia}" name="imagen_fotografia" border="1" align="middle" id="imagen_fotografia"/>
	  <input type="hidden" name="foto" value="{$item.fotografia}" /></td>
    {/foreach}
	<td width="94%">&nbsp;</td>
  </tr>
</table>
<p>&nbsp;</p>
<center>
  <br>
  <input type="submit" value="Modificar Activo" name="modificar_activo" class="enviar" onmouseover="this.className='boton'" onmouseout="this.className='enviar'">
</center>
</form>

</body>