{include file="../templates/sistema_de_produccion/cabecera.html" title=".:: Macaws S.R.L. - Sistema Interno ::."}

<script type="text/javascript" src="../../templates/script/jquery.2.0.3.min.js"></script>
<script type="text/javascript" src="../../templates/script/jquery.validate.min.js"></script>

{literal}
<script type="text/javascript">
var $j = jQuery.noConflict();

$j(document).ready(function() {
	
	$j('.assigned_kg').each(function(){
		updateUsedTotal( $j(this).attr('row') );
		updateUsedArea( $j(this).attr('row') );
	});
	
	$j.validator.addClassRules({
		assigned_kg: {
				required: true,
				number: true
			},
		used: {
				number: true
			},
		surplus: {
				number: true
			},
		remnant: {
				number: true
			},
		waste: {
				number: true
			},
		returned_kg: {
				number: true
			},
		assigned_area: {
				required: true,
				number: true
			},
		returned_area: {
				number: true
			}
	});
	
	var noNumberMessage = "No es un numero";
	var requiredMessage = "Campo vacio";
	
	$j.validator.addMethod("assigned_kg",	$j.validator.methods.number, noNumberMessage);
	$j.validator.addMethod("assigned_kg",	$j.validator.methods.required, requiredMessage);
	
	$j.validator.addMethod("used",			$j.validator.methods.number, noNumberMessage);
	$j.validator.addMethod("surplus",		$j.validator.methods.number, noNumberMessage);
	$j.validator.addMethod("remnant",		$j.validator.methods.number, noNumberMessage);
	$j.validator.addMethod("waste",			$j.validator.methods.number, noNumberMessage);
	$j.validator.addMethod("returned_kg",	$j.validator.methods.number, noNumberMessage);
	
	$j.validator.addMethod("assigned_area",	$j.validator.methods.number, noNumberMessage);
	$j.validator.addMethod("assigned_area",	$j.validator.methods.required, requiredMessage);
	
	$j.validator.addMethod("returned_area",	$j.validator.methods.number, noNumberMessage);
	
	$j("#leather_assign_form").validate();
	
	$j('#close_all').change(function(){
		if( $j('#close_all').prop('checked') )
			$j('.closed').prop('checked', true);
		else
			$j('.closed').prop('checked', false);
	});
	
	$j('.assigned_kg, .used, .surplus, .remnant, .waste').change(function(){
		updateUsedTotal( $j(this).attr('row') );
	});
	
	$j('.assigned_kg, .returned_kg, .assigned_area').change(function(){
		updateUsedArea( $j(this).attr('row') );
	});
});

function updateUsedTotal(row)
{
	var assignedKg = Number($j("#assigned_kg_" + row).val());
	
	var total = assignedKg - (
				Number($j('#used_' + row).val()) 
				+ Number($j('#surplus_' + row).val()) 
				+ Number($j('#remnant_' + row).val()) 
				+ Number($j('#waste_' + row).val()));
	
	$j('#used_total_' + row).html(total);
}

function updateUsedArea(row)
{
	var returned = conversionFactor($j('#returned_kg_' + row).val(), $j('#assigned_kg_' + row).val(), $j('#assigned_area_' + row).val());
	
	$j('#returned_area_' + row).val( returned );
	
	var usedArea = Number($j('#assigned_area_' + row).val()) - returned;
	$j('#used_area_' + row).val(usedArea);
	$j('#label_used_area_' + row).html(usedArea);
}

function conversionFactor(value, kg, area)
{
	kg = Number(kg);
	if(kg == 0)
		return 0;
	
	area = Number(area);
	if(area == 0)
		return 0;
	
	value = Number(value);
	
	return (value * area) / kg;
}
</script>
<style>
.error{
	color:red;
}
</style>
{/literal}


<br />
<table width="95%" border="0" align="center" cellpadding="0" cellspacing="3">
	<tr>
		<th colspan="8">Orden de Producci&oacute;n</th>
	</tr>
	<tr>
		<td class="enunciados">No.:</td>
		<td class="datos-reporte">{$header.numero_orden}</td>
		<td class="enunciados">CUP No.:</td>
		<td class="datos-reporte">{$header.cup_num}</td>
		<td class="enunciados">Cliente:</td>
		<td class="datos-reporte">{$header.cliente} </td>
		<td class="enunciados">No.Ref. Cliente:</td>
		<td class="datos-reporte">{$header.cliente_id}</td>
	</tr>
	<tr>
		<td class="enunciados">Fecha:</td>
		<td class="datos-reporte" style="text-align:center;">{$header.fecha}</td>
		<td class="enunciados">Fecha Entrega/Despacho:</td>
		<td class="datos-reporte" style="text-align:center;">{$header.fecha_entrega}</td>
		<td class="enunciados">Fecha Reprogramación:</td>
		<td class="datos-reporte" style="text-align:center;">{$header.fecha_reprogramacion}</td>
		<td/>
		<td/>
	</tr>
</table>

<br />
{if $mensaje != null}

	<table width="95%" border="0" align="center" cellpadding="0" cellspacing="3">
	  <tr>
		<td>
			<div class="anuncio" align="center"><img src="../../templates/imagenes/advertencia.gif" style="vertical-align:middle"/>&nbsp;&nbsp;&nbsp;{$mensaje}</div>
		</td>
	  </tr>
	</table>
{/if}
<form name="leather_assign_form" id='leather_assign_form' method="post" action="../../controladores/sistema_de_produccion/hoja_ruta_corte.php?function=saveAssignedLeatherByOrder"  align="center">
{if $detail != null}
	<table  width="95%" border="0" align="center" cellpadding="2" cellspacing="1">
	<tr>
		<th colspan="14">Detalle de asignaci&oacuten de cuero</th>
	</tr>
	<tr>
		<th class="enunciados" style="text-align:center;" rowspan='2'>Cuero</th>
		<th class="enunciados" style="text-align:center;" rowspan='2'>Color</th>
  		<th class="enunciados" style="text-align:center;" rowspan='2'>Cantidad</th>
  		<th class="enunciados" style="text-align:center;" colspan='7'>[KG.]</th>
  		<th class="enunciados" style="text-align:center;" colspan='3'>[AREA]</th>
  		<th class="enunciados" style="text-align:center;" rowspan='2'>Cerrar asig.
			<input type='checkbox' id='close_all' />
		</th>
	</tr>
	<tr>
		
   		<th class="enunciados" style="text-align:center;">Asignado(*)</th>
   		<td class="enunciados" style="text-align:center;">Utilizado</td>
		<td class="enunciados" style="text-align:center;">Retaceria</td>
		<td class="enunciados" style="text-align:center;">Retazos</td>
		<td class="enunciados" style="text-align:center;">Desperdicio</td>
   		<th class="enunciados" style="text-align:center;">A devolver</th>
   		<th class="enunciados" style="text-align:center;">Devuelto</th>
		<th class="enunciados" style="text-align:center;">Asignado(*)</th>
		<th class="enunciados" style="text-align:center;">Utilizado</th>
		<th class="enunciados" style="text-align:center;">Devuelto</th>
	</tr>
	
	{assign var=counter value=0}
	
	{assign var=CSSclass value=0}
    {assign var=clases value="lista-normal"}
    
    
	{foreach key=cambio item=order from=$detail}
	
		{assign var="CSSclass" value="`$CSSclass+1`"}
		{if ($CSSclass mod 2) eq 0}
			{assign var=clases value="lista-seleccionada"}
		{else}
			{assign var=clases value="lista-normal"}
		{/if}
	
	<label for="{$order.leather}" style="text-align:center;">
	
	{if $counter == 0}
	<input type="hidden" name="order_id" value="{$order.order_id}" />
    {/if}
	
	<tr class="{$clases}" onmouseover="this.style.cursor = 'pointer';this.className='lista_terrible';" onmouseout="this.className='{$clases}';">
		<td style="text-align:center;"><div>{$order.leather}</div>
			<input type="hidden" name="leather_id_{$counter}" value="{$order.leather_id}" />
		</td>
		<td style="text-align:center;">{$order.color}
			<input type="hidden" name="color_id_{$counter}" value="{$order.color_id}" />
		</td>
		<td style="text-align:center;">{$order.total}
			<input type="hidden" name="total_{$counter}" value="{$order.total}" />
		</td>		
		<td style="text-align:center;">
			<span class="left">
				<input type="hidden" name="saved_id_{$counter}" value="{$order.id}"/>
				<input type="text" id="assigned_kg_{$counter}" name="assigned_kg_{$counter}" class="assigned_kg" value="{$order.assigned_kg}" row="{$counter}" size="1" style="border:inherit;">
			</span>
		</td>
		<td style="text-align:center;">
			<span class="left">
				<input type="text" id="used_{$counter}" name="used_{$counter}" class="used" value="{$order.used_kg}" row="{$counter}" size="1" style="border:inherit;">
			</span>
		</td>
        <td style="text-align:center;">
			<span align="left">
				<!-- Retaceria = Sobras de anteriores ordenes -->
				<input type="text" id="surplus_{$counter}" name="surplus_{$counter}" class="surplus" value="{$order.surplus_kg}" row="{$counter}" size="1"  style="border:inherit;">
			</span>
		</td>
        <td style="text-align:center;">
			<span align="left">
				<!-- Retazos = Sobras de la orden actual -->
				<input type="text" id="remnant_{$counter}" name="remnant_{$counter}" class="remnant" value="{$order.remnant_kg}" row="{$counter}" size="1" style="border:inherit;">
			</span>
		</td>
        <td style="text-align:center;">
			<span align="left">
				<input type="text" id="waste_{$counter}" name="waste_{$counter}" class="waste" value="{$order.waste_kg}" row="{$counter}" size="1" style="border:inherit;">
			</span>
		</td>
		<td style="text-align:center;" id="used_total_{$counter}">
		</td>
		<td style="text-align:center;">
			<span class="left">
				<input type="text" id="returned_kg_{$counter}" name="returned_kg_{$counter}" class="returned_kg" value="{$order.returned_kg}" row="{$counter}" size="1" style="border:inherit;">
			</span>
		</td>
        <td style="text-align:center;">
			<span align="left">
				<input type="text" id="assigned_area_{$counter}" name="assigned_area_{$counter}" class="assigned_area" value="{$order.assigned_area}" row="{$counter}" size="1" style="border:inherit;">
				
				{if $order.area_unit == 'Pie2'} [Pies&sup2;]{/if}
				{if $order.area_unit == 'Metro'} [Metros]{/if}
				
			</span>
		</td>
		<td style="text-align:center;" id="label_used_area_{$counter}" >{$order.used_area}
		</td>
			<input type="hidden" id="used_area_{$counter}" name="used_area_{$counter}" value="{$order.used_area}" />
		<td style="text-align:center;">
			<span align="left">
				<input type="text" id="returned_area_{$counter}" name="returned_area_{$counter}" class="returned_area" value="{$order.returned_area}" size="1" style="border:inherit;">
			</span>
		</td>
		<td style="text-align:center;">
			<input type='checkbox' name='closed_{$counter}' {if $order.assignation_closed == '1' }checked{/if} class="closed" />
		</td>
	</tr>
	</label>
	{assign var=counter value=$counter+1}
	{/foreach}
	<tr>
		<td colspan="14">
		<hr />
		</td>
		<input type='hidden' name='total_data' value='{$counter}' />
	</tr>
</table>

<center>
	<br>
	<input type="submit" value="Guardar datos" class="enviar" onmouseover="this.className='boton'" onmouseout="this.className='enviar'">
</center>
</form>
{else}
	<table width="95%" border="0" align="center" cellpadding="0" cellspacing="3">
		<tr>
			<td>
				<div class="anuncio" align="center"><img src="../../templates/imagenes/advertencia.gif" style="vertical-align:middle;"/>&nbsp;&nbsp;&nbsp;Esta Orden no tiene productos</div>
			</td>
		</tr>
	</table>
{/if}

<br />

{include file="../templates/contenido/includes/pie.html"}