{include file="header.html" title=$title}

{literal}
<script type="text/javascript">
function calcular(iva) {
  tf = form1.totalfact.value;
  ice = form1.ice.value;
  exe = form1.exento.value;
  if (tf=='' || isNaN(tf)) tf = 0;
  if (ice=='' || isNaN(ice)) ice = 0;
  if (exe=='' || isNaN(exe)) exe = 0;
  if (iva=='' || isNaN(iva)) iva = 0;
  tf = parseFloat(tf);
  ice = parseFloat(ice);
  exe = parseFloat(exe);  
  iva = parseFloat(iva);  
  form1.totalexento.value = (Math.round((tf-ice-exe)*1000000))/1000000;
  res = (tf-ice-exe)*(iva/100);
  res = res*1000000;
  res= Math.round(res);
  res= res/1000000;
  form1.iva.value = res; 
}

function enter_handle (field, event, salto, tipo) {
	var keyCode = event.keyCode ? event.keyCode : event.which ? event.which : event.charCode;
	if (keyCode == 13) {
		var i;
		for (i = 0; i < field.form.elements.length; i++)
			if (field == field.form.elements[i])
				break;
		
		i = (i + salto) % field.form.elements.length;
		if (field.form.elements[i] != null) {
			field.form.elements[i].focus();
			field.form.elements[i].select();
			return false;
		}
	} else
		if (tipo == 0)//validar numeros
			if (keyCode < 48 || keyCode > 57)
				return false;
			else
				return true;
		else
			return true;
}

</script>
{/literal}
</head>
<body>
<script type="text/javascript">
	{literal}
	var calculate =
	{
		params: function() {
			return {
				nit: $F("nit")
			}
		},
		cb: function(originalRequest) {								
			  $("rsocial").value = originalRequest.responseText;			
		}
	}	
{/literal}
</script>

{if $gestionperiodo ne null}
<form id="form1" name="form1" method="post" action="actions/action_registrarVenta.php">

  <table width="1000" border="0" cellspacing="2" cellpadding="0" align="center" class="tableblue">
    <tr>
      <td colspan="2" align="left" class="header-table">REGISTRO DE VENTA </td>
    </tr>
	<tr>
      <td colspan="2" align="left" >
	  <h3><font color="#226C91">Periodo Fiscal: {$gestionperiodo.periodo}/{$gestionperiodo.gestion}</font></h3>	  </td>
    </tr>
    <tr>
      <td colspan="2" align="left" nowrap="nowrap">      
	  {if $reg_ok ne null}
		<table width="700" border="1" cellpadding="0" cellspacing="0" class="finish">
		<tr>
		<td align="center" width="700" >Se registro la venta con exito, Nro. Factura: {$reg_ok}</td>
		</tr>
		</table>
	  {/if}
	  {if $error ne null}
		<table width="700" border="1" cellpadding="0" cellspacing="0" class="error-box">
		<tr>
		<td align="center" width="700" >ERROR:<BR/>No se registro la factura.<br/>{$error.facturadoble}</td>
		</tr>
		</table>
	  {/if}	  </td>
    </tr>
    <tr>
      <td width="216" align="right" class="styleText">Fecha:</td>
      <td width="778" align="left">
	  <select name="diaperiodo" id="diaperiodo" tabindex="4" class="text3" onkeypress="return enter_handle(this, event, 1, 0)">
	  <option value="0" {if $val.diaperiodo eq 0}selected="selected" {/if}>--</option>
	  <option value="1" {if $val.diaperiodo eq 1}selected="selected" {/if}>01</option>
	  <option value="2" {if $val.diaperiodo eq 2}selected="selected" {/if}>02</option>
	  <option value="3" {if $val.diaperiodo eq 3}selected="selected" {/if}>03</option>
	  <option value="4" {if $val.diaperiodo eq 4}selected="selected" {/if}>04</option>
	  <option value="5" {if $val.diaperiodo eq 5}selected="selected" {/if}>05</option>
	  <option value="6" {if $val.diaperiodo eq 6}selected="selected" {/if}>06</option>
	  <option value="7" {if $val.diaperiodo eq 7}selected="selected" {/if}>07</option>
	  <option value="8" {if $val.diaperiodo eq 8}selected="selected" {/if}>08</option>
	  <option value="9" {if $val.diaperiodo eq 9}selected="selected" {/if}>09</option>
	  <option value="10" {if $val.diaperiodo eq 10}selected="selected" {/if}>10</option>
	  <option value="11" {if $val.diaperiodo eq 11}selected="selected" {/if}>11</option>
	  <option value="12" {if $val.diaperiodo eq 12}selected="selected" {/if}>12</option>
	  <option value="13" {if $val.diaperiodo eq 13}selected="selected" {/if}>13</option>
	  <option value="14" {if $val.diaperiodo eq 14}selected="selected" {/if}>14</option>
	  <option value="15" {if $val.diaperiodo eq 15}selected="selected" {/if}>15</option>
	  <option value="16" {if $val.diaperiodo eq 16}selected="selected" {/if}>16</option>
	  <option value="17" {if $val.diaperiodo eq 17}selected="selected" {/if}>17</option>
	  <option value="18" {if $val.diaperiodo eq 18}selected="selected" {/if}>18</option>
	  <option value="19" {if $val.diaperiodo eq 19}selected="selected" {/if}>19</option>
	  <option value="20" {if $val.diaperiodo eq 20}selected="selected" {/if}>20</option>
	  <option value="21" {if $val.diaperiodo eq 21}selected="selected" {/if}>21</option>
	  <option value="22" {if $val.diaperiodo eq 22}selected="selected" {/if}>22</option>
	  <option value="23" {if $val.diaperiodo eq 23}selected="selected" {/if}>23</option>
	  <option value="24" {if $val.diaperiodo eq 24}selected="selected" {/if}>24</option>
	  <option value="25" {if $val.diaperiodo eq 25}selected="selected" {/if}>25</option>
	  <option value="26" {if $val.diaperiodo eq 26}selected="selected" {/if}>26</option>
	  <option value="27" {if $val.diaperiodo eq 27}selected="selected" {/if}>27</option>
	  <option value="28" {if $val.diaperiodo eq 28}selected="selected" {/if}>28</option>
	  <option value="29" {if $val.diaperiodo eq 29}selected="selected" {/if}>29</option>
	  <option value="30" {if $val.diaperiodo eq 30}selected="selected" {/if}>30</option>
	  <option value="31" {if $val.diaperiodo eq 31}selected="selected" {/if}>31</option>
	  </select>/{$gestionperiodo.periodo}/{$gestionperiodo.gestion}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label id="errorlabel">{$error.diaperiodo} </label></td>
    </tr>
	
	  <tr>
      <td align="right" class="styleText">Tipo de venta:</td>
      <td align="left" class="styleText"><input name="tipovent" type="radio" value="1" {if $val.tipovent eq 1} checked="checked"{/if}>Manual <input name="tipovent" type="radio" value="2" {if $val.tipovent eq 2} checked="checked"{/if}>Computarizada
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label id="errorlabel">{$error.tipoventa} </label>
	  </td>
    </tr>
	
    <tr>
      <td align="right" class="styleText">NIT proveedor: </td>
      <td align="left">
	  <input name="nit" type="text" value="{$val.nit}" size="25" maxlength="25" 
	  onblur="{ajax_call function="cargarRazonSocial" params_func="calculate.params" callback="calculate.cb"}" class="text3" onKeyPress="return enter_handle(this, event, 1, 0)"/>
      <label id="errorlabel">{$error.nit} </label></td>
    </tr>
    <tr>
      <td align="right" class="styleText">Raz&oacute;n social: </td>
      <td align="left"><input name="rsocial" type="text" value="{$val.rsocial}" size="70" maxlength="50" class="text3" onKeyPress="return enter_handle(this, event, 1, 1)"/>
      <label id="errorlabel">{$error.rsocial} </label></td>
    </tr>
    <tr>
      <td align="right" class="styleText">N&uacute;mero de factura: </td>
      <td align="left"><input name="factura" type="text" value="{$val.factura}" size="25" maxlength="25" class="text3" onKeyPress="return enter_handle(this, event, 1, 1)"/>
      <label id="errorlabel">{$error.factura} {$error.facturadoble}</label></td>
    </tr>
    <tr>
      <td align="right" class="styleText">N&uacute;mero de autorizacion: </td>
      <td align="left"><input name="autorizacion" type="text" value="{$val.autorizacion}" size="25" maxlength="25" class="text3" onKeyPress="return enter_handle(this, event, 1, 1)"/>
      <label id="errorlabel">{$error.autorizacion} </label></td>
    </tr>
    <tr>
      <td align="right" class="styleText">C&oacute;digo de control: </td>
      <td align="left"><input name="control" type="text" value="{$val.control}" size="25" maxlength="25" class="text3" onKeyPress="return enter_handle(this, event, 1, 1)"/>
      <label id="errorlabel">{$error.control} </label></td>
    </tr>
    <tr>
      <td align="right" class="styleText">TOTAL FACTURA: </td>
      <td align="left"><input name="totalfact" type="text" value="{$val.totalfact}" size="13" maxlength="10" onBlur="calcular({$gestionperiodo.iva})" class="text3" onKeyPress="return enter_handle(this, event, 1, 1)"/>
      <label id="errorlabel">{$error.totalfact} </label></td>
    </tr>
    <tr>
      <td align="right" class="styleText">Total ICE:</td>
      <td align="left"><input name="ice" type="text" value="{$val.ice}" size="13" maxlength="10" onBlur="calcular({$gestionperiodo.iva})" class="text3" onKeyPress="return enter_handle(this, event, 1, 1)"/>
      <label id="errorlabel">{$error.ice} </label></td>
    </tr>
    <tr>
      <td align="right" class="styleText">Importe exento: </td>
      <td align="left"><input name="exento" type="text" value="{$val.exento}" size="13" maxlength="10" onBlur="calcular({$gestionperiodo.iva})" class="text3" onKeyPress="return enter_handle(this, event, 6, 1)"/>
      <label id="errorlabel">{$error.exento} </label></td>
    </tr>
    <tr>
      <td align="right" class="styleText">&nbsp;</td>
      <td align="left">&nbsp;</td>
    </tr>
    <tr>
      <td align="right" class="styleText">Importe NETO Factura:</td>
      <td align="left"><input name="totalexento" type="text" value="{$val.totalexento}" size="13" maxlength="13" readonly="true" class="text3" /></td>
    </tr>
    <tr>
      <td align="right" class="styleText">Impuesto D&eacute;bito Fiscal:</td>
      <td align="left"><input name="iva" type="text" value="{$val.iva}" size="13" maxlength="10" readonly="true" class="text3"/>
      (IVA de {$gestionperiodo.iva}%)</td>
    </tr>
  
    <tr>
      <td>&nbsp;</td>
      <td align="left">
	  <input type="hidden" name="cod_pg" value="{$gestionperiodo.cod_pg}" />
	  <input type="hidden" name="periodo" value="{$gestionperiodo.periodo}" />
	  <input type="hidden" name="gestion" value="{$gestionperiodo.gestion}" /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>
	  <input type="submit" name="registrar" value="Registrar venta" class="text3"/>
	  <input type="reset" name="Reset" value="Limpiar campos" />
      <input type="button" name="cancelar" value="Cancelar" onClick="location='/sistema/macaws/lcv.php'" class="text7"/>	  </td>
    </tr>
  </table>
</form>
{else}
<table width="700" border="0" cellpadding="2" cellspacing="1" class="error-box">
	<tr>
	<td>ERROR: EL PERIODO SELECCIONADO ESTA CERRADO.</td>
	</tr>
	<tr>
	<td width="700" ><input name="volver" type="button" class="text3" onClick="location='/sistema/macaws/lcv.php'" value="Volver" /></td>
	</tr>
</table>
{/if}
</body>
</html>
