{* Lista de ordenes registradas *}
 {include file="../templates/sistema_de_produccion/cabecera.html" title=".:: Macaws S.R.L. - Sistema Interno ::."}

{literal}
<script>
function tabuladores(nombre, tab, tit){
	document.getElementById("pdacon").style.display = "none";
	document.getElementById("pbicon").style.display = "none";

	document.getElementById("pda").className = "noseleccionado";
	document.getElementById("pbi").className = "noseleccionado";
	
	document.getElementById("tpda").className = "titulo_no";
	document.getElementById("tpbi").className = "titulo_no";
	
	document.getElementById(nombre).style.display = "block";
	document.getElementById(tab).className = "seleccionado";
	document.getElementById(tit).className = "titulo";
}
</script>
{/literal} <br />
<table width="70%" border="0" align="center" cellpadding="0" cellspacing="3">
  <tr>
    <td width="50%"><div id="pda"><a href="../../controladores/sistema_de_produccion/lista_ordenes.php?funcion=cambio_tab&tabu=1" id="tpda">C&oacute;digo de Orden</a></div></td>
    <td><div id="pbi"><a href="../../controladores/sistema_de_produccion/lista_ordenes.php?funcion=cambio_tab&tabu=2" id="tpbi">Cliente</a></div></td>
  <tr>
    <td colspan="2"><!-- aqui se detallan los contenidos-->
      <div id="pdacon" style="display:none;">
        <form action="../../controladores/sistema_de_produccion/lista_ordenes.php?funcion=buscar" method="post" name="producto" id="producto">
          <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
            {if $errores.err_nombre != null}
            <tr>
              <td/>
              <td style="padding-left:3px;"><div class="error-box">{$errores.err_nombre}</div></td>
            </tr>
            {/if}
            <tr>
              <td width="50%" class="enunciados">Ingrese C&oacute;digo &Oacute;rden:</td>
              <td class="body-sector" style="padding:3px;"><div align="left" class="entrada"> <img src="../../templates/imagenes/buscar.jpg" class="imagenes"/>
                  <input name="orden" type="text" id="orden" value="{$orden}" onkeypress="return handleEnter(this, event)" style="border:none;"/>
                </div></td>
            </tr>
            <tr>
              <td colspan="2" style="padding:10px;text-align:center;"><input name="funcion" type="submit" value="Realizar B&uacute;squeda" class="enviar" onmouseover="this.className='boton'" onmouseout="this.className='enviar'"/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input name="funcion" type="reset" value="Cancelar B&uacute;squeda" class="boton"/>
              </td>
            </tr>
          </table>
          <input name="tipo" type="hidden" id="tipo" value="num_orden" />
          <input name="tabu" type="hidden" id="tab" value="1" />
        </form>
      </div>
      <div id="pbicon" style="display:none;">
        <form action="../../controladores/sistema_de_produccion/lista_ordenes.php?funcion=buscar" method="post" name="producto" id="producto">
          <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
            {if $errores.err_nombre != null}
            <tr>
              <td/>
              <td style="padding-left:3px;"><div class="error-box"> {$errores.err_nombre} </div></td>
            </tr>
            {/if}
            <tr>
              <td width="50%" class="enunciados">Ingrese nombre de Cliente:</td>
              <td class="body-sector" style="padding:3px;"><div align="left" class="entrada"> <img src="../../templates/imagenes/buscar.jpg" class="imagenes"/>
                  <input name="orden" type="text" id="orden" value="{$orden}" onkeypress="return handleEnter(this, event)" style="border:none;"/>
                </div></td>
            </tr>
            <tr>
              <td colspan="2" style="padding:10px;text-align:center;"><input name="funcion" type="submit" value="Realizar B&uacute;squeda" class="enviar" onmouseover="this.className='boton'" onmouseout="this.className='enviar'"/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input name="funcion" type="reset" value="Cancelar B&uacute;squeda" class="boton"/>
              </td>
            </tr>
          </table>
          <input name="tipo" type="hidden" id="tipo" value="cliente" />
          <input name="tabu" type="hidden" id="tab" value="2" />
        </form>
      </div></td>
  </tr>
</table>
{if $mensaje != null}
<table width="95%" border="0" align="center" cellpadding="0" cellspacing="3">
  <tr>
    <td><div class="anuncio" align="center"><img src="../../templates/imagenes/advertencia.gif" style="vertical-align:middle"/>&nbsp;&nbsp;&nbsp;{$mensaje}</div></td>
  </tr>
</table>
{/if}

<br />

{if $tabu eq "2"}
	{literal}
	<script>
		tabuladores("pbicon", "pbi", "tpbi");
	</script>
	{/literal}
{else}
	{literal}
	<script>
		tabuladores("pdacon", "pda", "tpda");
	</script>
	{/literal}
{/if}

<table align="center"  width="95%" cellpadding="3">
  <tr>
    <th colspan="7"> Lista de Ordenes </th>
  </tr>
  
  <tr>
 
    <th class="enunciados">
	  <center>Orden Prod.</center>
	</th>
	<th class="enunciados">
	  <center>Cliente</center>
	</th>
	<th class="enunciados">
	  <center>Cup Num.</center>
	</th>
	<th class="enunciados">
	  <center>Fecha</center>
	</th>
	<th class="enunciados">
	  <center>Fecha Entrega</center>
	</th>
	<th class="enunciados">
	  <center>Fecha Reprog.</center>
	</th>
	<th class="enunciados">
	  <center>Observaciones</center>
	</th>
  </tr>
  {assign var=CSSclass value=0}
  {assign var=clases value="lista-normal"}
	
  {foreach name=contenido item=orden from=$ordenes}
  {assign var="CSSclass" value="`$CSSclass+1`"}
    {if ($CSSclass mod 2) eq 0}
    {assign var=clases value="lista-seleccionada"}
    {else}
    {assign var=clases value="lista-normal"}
    {/if}
  
  <tr class="{$clases}" onMouseOver="this.style.cursor = 'pointer';this.className = 'lista_terrible';" onMouseOut="this.className = '{$clases}';"> {foreach key=key item=item from=$orden}
    {if $key == "codigo"}
    {assign var=orden_id value=$item}
    {else}
	  {if $key == "Orden Prod."}
	  <td>
		<a href="../../controladores/sistema_de_produccion/lista_ordenes.php?funcion=detalle&elegido={$orden_id} " name="{$orden_id}" id="{$orden_id}">{$item}</a>
	  </td>
	  {else}
	         {if $key == "fecha reprog"}
			   {if $item== "0000-00-00"} <td>&nbsp;</td>
			   {else} <td> {$item}		 </td>
			    {/if}
			 {else}
		        {if $key=="fecha"}	 
				      <td nowrap="nowrap">
					{$item}
					  </td>
				{else}
				   {if $key=="fecha entrega"}
				        <td nowrap="nowrap">
							{$item}
					    </td>
				   {else}
				    <td>
					{$item}
					  </td>
				   {/if}
							    
			     {/if}
	         {/if}
	  {/if}
    {/if}
  {/foreach}
  </tr>
  {/foreach}
  <tr>
	<td colspan="7">
		<hr	/>
	<td>
  </tr>
</table>
<br>
</form>