<head>
{include file="../templates/sistema_de_produccion/cabecera.html"}
{literal}
<SCRIPT LANGUAGE="JavaScript">
	function consultar(opcion) {
		if(opcion!="modificar") {
			document.form_modificar.funcion.value="index";
		}
	}
</SCRIPT>
{/literal}
</head>

<body>

<br>


{if $error != null}
<table align="center" class="error-box" width="100%">
	{if $error.err_descripcion != null}
	<tr>
		<td><font color=black>{$error.err_descripcion}</font></td>
	</tr>
	{/if}
	{if $error.err_fuente != null}
	<tr>
		<td><font color=black>{$error.err_fuente}</font></td>
	</tr>
	{/if}
</table>
{/if}

<table align="center" width="55%">
	<th colspan="2">Modificar estilo</th>
	<form name="form_modificar" method="post" action="../../controladores/sistema_de_produccion/lista_estilo.php">
		<input type="hidden" name="elegido"  value="{$id}">
		<input type="hidden" name="funcion" value="modificar_datos">
	<tr>
		<td class="enunciados">Nombre:</td>
		<td class="body-sector">  <input type="text" name="descripcion" value="{$descripcion}" > </td>
	</tr>
	<tr>
		<td colspan="2" style="text-align:center;">
			<input type="submit" name="modificar" value="Modificar"  onClick=consultar(name) class="enviar" onmouseover="this.className='boton'" onmouseout="this.className='enviar'">
			&nbsp;&nbsp;&nbsp;
			<input type="submit" name="volver" value="Regresar" onClick=consultar(name) class="enviar" onmouseover="this.className='boton'" onmouseout="this.className='enviar'">
		</td>
	</tr>
	</form>
</table>

</body>