<div align="right">
	<table width="100%" border="0" cellpadding="0" cellspacing="0" class="celda2" >
	  <tr>
		<td width="40%">
			<div align="left">
				&nbsp;&nbsp;&nbsp;{$smarty.session.fecha_ingreso}
			</div>
		</td>
		<td>
			<div align="center">
				Usuario: {$smarty.session.nombres}{$smarty.session.apellidos}
			</div>
		</td>
		<td width="33%">
			<div align="right">
				<a href="../controladores/index_menu.php?funcion=salir" target="_parent">Cerrar Sesi&oacute;n</a> &nbsp;&nbsp;&nbsp;
	        </div>
		</td>
	  </tr>
  </table>
</div>
