/*ESTILO DEL SISTEMA DE PRODUCCION */
.lista-indicadores {
	font-family:tahoma;
	font-size: 13px;
	color: #FFF;
	background-color: #5CB8DA;
	padding:3px 0 3px 0;
}

#ingresar{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#D0D0D0;
  	filter:alpha(opacity=40);
  	-moz-opacity: 0.4;
  	opacity: 0.4;
	z-index:300;
}

body{
	background-color:#F9F8F8;
	font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
	margin:0px;
	overflow-x:hidden;
	padding:0px;
}

a.titulo:link, a.titulo:visited, a.titulo:active {
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-size:14px;
}

a.titulo:hover{
	text-decoration:underline;
}

a.titulo_no:link, a.titulo_no:visited, a.titulo_no:active {
	color:#999999;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-size:14px;
}

a.titulo_no:hover{
	text-decoration:underline;
}



.seleccionado{
	background-color:#ABBEEF;
	text-align:center;
	padding:3px;
}

.noseleccionado{
	background-color:#D6DFF7;
	text-align:center;
	padding:3px;
}

.enunciados{
	background-color:#D6DFF7;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	padding:3px;
	text-align:right;
	border:0px;
}

input, select, .entrada{
	background-color:#FFFFFF;
	border:1px;
	border-color:#7F9DB9;
	border-style:solid;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	padding:2px;
}

.boton {
	background-color: #F6F6F2;
	border-color:#95BAD5;
	border-width:2px;
	color: #000000;
	cursor:pointer;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 2px;
}

.enviar {
	background-color:#175C93;
	border-color:#95BAD5;
	border-width:2px;
	color:#FCFFFF;
	cursor:pointer;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding:2px;
}

/*
.enviar {
	background-color:#FFCC33;
	border-color:#993300;
	color: #000000;
	cursor:pointer;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 5px;
}
*/

A.link {
	color:#0B5690;
}

A:visited{
	color:#C60000;
}

A:hover{
	color:#312A06;
}

A:active{
	color:#00B400;
}

.celda1{
	background-color:#F4F6FD;
}

.celda2{
	background-color:#DED49C;
}

th{
	background-color:#ABBEEF;
	color:#000000;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:3px;
}

.lista-normal {
	font-family:tahoma;
	font-size: 11px;
	color: #000000;
	background-color: #F5F5F5;
}

.lista-seleccionada {
	font-family:tahoma;
	font-size: 11px;
	color: #000000;
	background-color: #E5E5E5;
}

.lista_terrible{
	font-family:tahoma;
	font-size: 11px;
	color: #000000;
	background-color: #C5FEE2;
}

.lista-sin-despiece {
	font-family:tahoma;
	font-size: 11px;
	color: #000000;
	background-color: #FADBD8;
}

.lista-con-despiece {
	font-family:tahoma;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #30A344;
}

.lista-pendiente {
	font-family:tahoma;
	font-size: 11px;
	color: #000000;
	background-color: #CFE8F3;
}


.error-box {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: black;
	padding: 5px;
	height: auto;
	width: 200px;
	background-color: #FFFFCC;
	border: 2px solid #FF9B04;
	text-align:center;
	vertical-align: middle;	
}

.anuncio {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: black;
	padding: 5px;
	background-color: #FFFFCC;
	border: 2px solid #FF9B04;
	text-align:center;
	vertical-align: middle;	
}

.anuncio2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: black;
	padding: 5px;
	background-color: #CAE2FB;
	border: 2px solid #94A2CF;
	text-align:center;
	vertical-align: middle;	
}

.confirmacion {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: black;
	padding: 5px;
	background-color: #FFCCFF;
	border: 2px solid #FF9B04;
	text-align:center;
	vertical-align: middle;	
}

td.body-sector {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	background-color: #f9f8f8;
	vertical-align:middle;
}

.datos-reporte {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-color: #f9f8f8;
	text-align:center;
	vertical-align:middle;
}

th.cabeceralista{
	background-color:#ABBEEF;
	color:#000000;
	font-size:11px;
}


.textcabecera2 {
	font-family:"Times New Roman", Times, serif;
	font-size: 5px;
	color: black;
	font-weight: bold;
}
.textcabecera1 {

    font: italic;
	font-size: 15px;
	color: #000000;
}




td.header-reporte {
	font-family:"Times New Roman", Times, serif;
	font-size: 10px;
	font-weight: bold;
	border-bottom-color:#CACACA;
	background-color: #EAEAEA;
	border:1px;
}

td.tabla-orden {
	border: 0.5px solid #E6E6E6;
	font-family:"Times New Roman", Times, serif;
	font-size: 10px;

}

.imagenes{
	margin:0;
	width:20px;
	height:20px;
	border:0;
	vertical-align:middle;
}
.imagenes-pestaña
{
	margin:0;
	width:20px;
	height:20px;
	border:0;
	vertical-align:middle;
}
img.imagen-menu{
	margin:0;
	width:30px;
	height:30px;
	border:0;
}

a.link-orden:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #3D4B89 ;
	text-decoration: underline;
}

/*ESTILO DEL SISTEMA DE PRODUCCION ANTERIOR*/

/*
td.head-sector {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bolder;
	color: #000000;
	background-color: #FFFFFF;
	border-bottom:#333333 solid 1px;
}
td.body-sector {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	background-color: #f9f8f8;
}

td.header-table {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
    background-color: #d6dff7;
	

}
td.header-table-dos {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #4E73B1;
	border-color: #4E73B1 solid;
	height:20px;

}

td.body-table {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}
a.link-light-blue-11:link,a.link-light-blue-11:visited,a.link-light-blue-11:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #0240a3;
	text-decoration: underline;
}
.text1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FFFFFF;
}
.text2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #0000C6;
}
td.menu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #6e89dd;
}

td.submenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
	background-color: #d6dff7;
}
a.link-black-11:link,a.link-black-11:visited,a.link-black-11:active{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
	text-decoration: none;
}
a.link-black-11:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
	text-decoration: underline;
}

.text3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
}
.button1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
}
.text4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #CC0000;
}

a.link-white-11:link,a.link-white-11:visited,a.link-white-11:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration:none
}
a.link-white-11:hover{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight:bold;
	color:#666666;
	text-decoration:underline;
}
.error-box {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	color: #CC0000;
	padding: 5px;
	height: auto;
	width: auto;
	background-color: #FFFFCC;
	border: 1px solid #CC0000;
}
.error-uno {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #CC0000;
	padding: 5px;
	height: auto;
	width: auto;
	background-color: #FFFFCC;
	border: 1px solid #CC0000;
}

.text5 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight:bold;
	color: #0033CC;
}
.text6 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #000000;
}
.tiny-text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #333333;
}
td.header-table2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7px;
	font-weight: bold;
	color: #000000;
	background-color: #E9E9E9;
}
.search-box {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
	background-color: #c5cde2;
	border: 1px solid #333333;
}
a.link-white2-11:link,a.link-white2-11:visited,a.link-white2-11:active{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FFFFFF;
	text-decoration: none;
}
a.link-white2-11:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
	text-decoration: underline;
}
a.link-orden:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #3D4B89 ;
	text-decoration: underline;
}


.all-border-purple {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: 1px solid #C7C7E2;
}
.all-border-electric-blue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	border: 1px solid #638cff;
}
.text7 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FF0000;
}

.text8 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #336699;
	font-size: 12px;
}

.text9 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8px;
	color: #5C7CC7 ;
}

.text10 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7px;
}


.textcabecera {
	font-family: Tahoma;
	font-size: 7px;
	color: #000000;
}


img.imagen-menu
{
	margin:0;
	width:30px;
	height:30px;
	border:0;
			
}

a.link-menu:link,a.link-menu:visited,a.link-menu:active{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #35709F;
	text-decoration: none;
	font-weight: bold;
  border:solid #B3AFBC 0px;
}
a.link-menu:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:#333333 
	/*color: #2B3F73;
	text-decoration: underline;
	font-weight: bold;
}

.textanuncios {
	font-family: Tahoma;
	font-size: 13px;
	color: #DCE6ED;
	height: auto;
	width: auto;
	background-color: #389FC7;
	border: 2px solid #389FC7;
}


.anuncios-box {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #7D7993;

	height: auto;
	width: auto;
	background-color: #DCE6ED;
	border: 2px solid #389FC7;
}
*/
/*********************/
/* ESTILO DE LOS TOOLTIPS CON AJAX  */
/*********************/

#ajax_tooltipObj{
	z-index:1000000;
	text-align:left;
}
#ajax_tooltipObj div{
	position:relative;
}

/* If you don't want the arrow - Just set the width of this div to 1 or something like that and drop the background selectors from the CSS below */

#ajax_tooltipObj .ajax_tooltip_arrow{	/* Left div for the small arrow */
	background-image:url('../imagenes/arrow.gif');
	width:100px;
	position:absolute;
	left:58px;
	top:0px;
	background-repeat:no-repeat;
	background-position:center right;
	z-index:111;
	height:80px;
	/*border: 2px  hidden;*/
}

#ajax_tooltipObj .ajax_tooltip_content{
	border:2px solid #317082;	/* Border width */
	left:10px;	/* Same as border thickness */
	top:0px;
	position:absolute;
	width:130px;	/* Width of tooltip content */
	/*height:200px;*/	/* Height of tooltip content */
	background-color:#FFF;	/* Background color */
	padding:5px;	/* Space between border and content */
	font-size:0.8em;	/* Font size of content */
	overflow:auto;	/* Hide overflow content */
	z-index:100;
}


/*********************/



/* ESTILO PARA EL CALENDARIO  */

div.calendar { position: relative; }

.calendar, .calendar table {
  border: 1px solid #556;
  font-size: 11px;
  color: #000;
  cursor: default;
  background: #eef;
  font-family: tahoma,verdana,sans-serif;
}

/* Header part -- contains navigation buttons and day names. */

.calendar .button { /* "<<", "<", ">", ">>" buttons have this class */
  text-align: center;    /* They are the navigation buttons */
  padding: 2px;          /* Make the buttons seem like they're pressing */
}

.calendar .nav {
  background: #778 url(menuarrow.gif) no-repeat 100% 100%;
}

.calendar thead .title { /* This holds the current "month, year" */
  font-weight: bold;      /* Pressing it will take you to the current date */
  text-align: center;
  background: #fff;
  color: #000;
  padding: 2px;
}

.calendar thead .headrow { /* Row <TR> containing navigation buttons */
  background: #778;
  color: #fff;
}

.calendar thead .daynames { /* Row <TR> containing the day names */
  background: #bdf;
}

.calendar thead .name { /* Cells <TD> containing the day names */
  border-bottom: 1px solid #556;
  padding: 2px;
  text-align: center;
  color: #000;
}

.calendar thead .weekend { /* How a weekend day name shows in header */
  color: #a66;
}

.calendar thead .hilite { /* How do the buttons in header appear when hover */
  background-color: #aaf;
  color: #000;
  border: 1px solid #04f;
  padding: 1px;
}

.calendar thead .active { /* Active (pressed) buttons in header */
  background-color: #77c;
  padding: 2px 0px 0px 2px;
}

/* The body part -- contains all the days in month. */

.calendar tbody .day { /* Cells <TD> containing month days dates */
  width: 2em;
  color: #456;
  text-align: right;
  padding: 2px 4px 2px 2px;
}
.calendar tbody .day.othermonth {
  font-size: 80%;
  color: #bbb;
}
.calendar tbody .day.othermonth.oweekend {
  color: #fbb;
}

.calendar table .wn {
  padding: 2px 3px 2px 2px;
  border-right: 1px solid #000;
  background: #bdf;
}

.calendar tbody .rowhilite td {
  background: #def;
}

.calendar tbody .rowhilite td.wn {
  background: #eef;
}

.calendar tbody td.hilite { /* Hovered cells <TD> */
  background: #def;
  padding: 1px 3px 1px 1px;
  border: 1px solid #bbb;
}

.calendar tbody td.active { /* Active (pressed) cells <TD> */
  background: #cde;
  padding: 2px 2px 0px 2px;
}

.calendar tbody td.selected { /* Cell showing today date */
  font-weight: bold;
  border: 1px solid #000;
  padding: 1px 3px 1px 1px;
  background: #fff;
  color: #000;
}

.calendar tbody td.weekend { /* Cells showing weekend days */
  color: #a66;
}

.calendar tbody td.today { /* Cell showing selected date */
  font-weight: bold;
  color: #00f;
}

.calendar tbody .disabled { color: #999; }

.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
  visibility: hidden;
}

.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
  display: none;
}

/* The footer part -- status bar and "Close" button */

.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
  text-align: center;
  background: #556;
  color: #fff;
}

.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
  background: #fff;
  color: #445;
  border-top: 1px solid #556;
  padding: 1px;
}

.calendar tfoot .hilite { /* Hover style for buttons in footer */
  background: #aaf;
  border: 1px solid #04f;
  color: #000;
  padding: 1px;
}

.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
  background: #77c;
  padding: 2px 0px 0px 2px;
}

/* Combo boxes (menus that display months/years for direct selection) */

.calendar .combo {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  width: 4em;
  cursor: default;
  border: 1px solid #655;
  background: #def;
  color: #000;
  font-size: 90%;
  z-index: 100;
}

.calendar .combo .label,
.calendar .combo .label-IEfix {
  text-align: center;
  padding: 1px;
}

.calendar .combo .label-IEfix {
  width: 4em;
}

.calendar .combo .hilite {
  background: #acf;
}

.calendar .combo .active {
  border-top: 1px solid #46a;
  border-bottom: 1px solid #46a;
  background: #eef;
  font-weight: bold;
}

.calendar td.time {
  border-top: 1px solid #000;
  padding: 1px 0px;
  text-align: center;
  background-color: #f4f0e8;
}

.calendar td.time .hour,
.calendar td.time .minute,
.calendar td.time .ampm {
  padding: 0px 3px 0px 4px;
  border: 1px solid #889;
  font-weight: bold;
  background-color: #fff;
}

.calendar td.time .ampm {
  text-align: center;
}

.calendar td.time .colon {
  padding: 0px 2px 0px 3px;
  font-weight: bold;
}

.calendar td.time span.hilite {
  border-color: #000;
  background-color: #667;
  color: #fff;
}

.calendar td.time span.active {
  border-color: #f00;
  background-color: #000;
  color: #0f0;
}


/**********************************/

/* ESTILO PARA EL DIV DE AUTORELLENO DE AJAX  */


div.autorelleno{
	background-color: #FFFFFF;
	border: 1px solid #7F9DB9;
	left: 231px;
	margin:	0px;
	padding: 0px;
	position: absolute;
	top: 11px;
}

div.autorelleno ul {
	float: right;
	height: 75px;
	list-style-type: none;
    margin: 0px;
	overflow: auto;
	overflow-x: hidden;
    padding: 0px;
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-arrow-color: #FFFFFF;
	scrollbar-darkshadow-color: #FFFFFF;
	scrollbar-face-color: #ABBEEF;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #AAFFFF;
	scrollbar-track-color: #FFFFFF;
	width: 100%;
}

div.autorelleno ul li.selected{
	background-color: #CFEFFA;
}

div.autorelleno ul li{
    cursor: pointer;
	display: block;
	list-style-type: none;
	font-size: 13px;
    margin: 0;
	padding: 2px;
	position: relative;
	z-index: 1;
}

#cuerpo{
	background: #F0EDE0;
	left: 30%;
	position: absolute;
	top: 25%;
	width: 50%;
}

b.rtop, b.rbottom{
	background: #FFF;
	display: block;
}

b.rtop b, b.rbottom b{
	background: #F0EDE0
	display: block;
	height: 1px;
	overflow: hidden;
}

b.r1{
	margin: 0 5px;
}

b.r2{
	margin: 0 3px;
}

b.r3{
	margin: 0 2px;
}

b.rtop b.r4, b.rbottom b.r4{
	height: 2px;
	margin: 0 1px;
}

/********************************************************************/
.tituloavisos{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: black;
	padding: 5px;
	background-color: #CDCBAB;
	border: 0px ;
	text-align:center;
}
.aviso-seleccionado {
	font-family:tahoma;
	font-size: 11px;
	color: #000000;
	background-color: #EEE9D7;
}

/**********************************************************************/
div.row {
	border-top:1px solid #D6DFF7;
	clear: both;
}

div.row span.label {
	background-color:#D6DFF7;
	float: left;
	text-align: right;
	width: 30%;
}

div.row span.formw {
	float: right;
	text-align: left;
	width: 69%;
}

/**********************************************************************/
/* Joe */
.ok_message_helper{
	background: #006400;
	color: #e0ffff;
	font-size: medium;
	border-radius: 5px;
	float: right;
	position: absolute;
	right: 10%;
}

.error_message_helper{
	background: #A52A2A;
	color: #e0ffff;
	font-size: medium;
	border-radius: 5px;
	float: right;
	position: absolute;
	right: 10%;
}