{include file="../templates/sistema_de_produccion/cabecera.html"}	 
<br />
 <table width="95%" align="center">
 <tr>
 <th colspan="4"> Detalles de Producto </th>
 </tr>
 <tr>
		      <td class="enunciados">  Producto :  </td> <td class="body-sector">{$cabecera.Modelo} </td>
			  <td class="enunciados">  Estilo:   </td> <td colspan="2" class="body-sector">{$cabecera.Estilo} </td>
		  </tr>
		  <tr>
		       <td class="enunciados"> Color :   </td> <td class="body-sector"> {$cabecera.Color}  </td>
			  
 		       <td class="enunciados"> Clip:  </td> <td class="body-sector"> {$cabecera.Clip}</td>
		  </tr>	    
		 <tr>
		        <td class="enunciados"> Sello:   </td> <td class="body-sector"> {$cabecera.Sello}  </td>
			  
 		       <td class="enunciados"> Etiqueta:  </td> <td class="body-sector"> {$cabecera.Etiqueta}</td>
		 </tr>	
 </table>
 </p>
 
 <form name="volver" id="volver" action="../../controladores/sistema_de_produccion/modificar_despiece.php" method="get">
		    <input type="hidden" name="orden_id" id="orden_id" value="{$orden_id}">
  			 <input type="hidden" name="detalle_id" id="detalle_id" value="{$detalle_id}">
			 <input type="hidden" name="material_id"  value="{$material_id}">
  			 <input type="hidden" name="funcion" id="funcion" value="volver">
		<center>	<input name="volver" type="submit" value="Volver a materiales" class="enviar" onmouseover="this.className='boton'" onmouseout="this.className='enviar'"/>  </center>
		</form> 

   <form name="modificar_despiece_piezas_material" method="get" action="../../controladores/sistema_de_produccion/modificar_despiece.php"  align="center" id="modificar_despiece_piezas_material">
   <input type="hidden" name="orden_id"  value="{$orden_id}">
   <input type="hidden" name="detalle_id"  value="{$detalle_id}">
   <input type="hidden" name="material_id"  value="{$material_id}">
   <input type="hidden" name="componente_id"  value="{$componente_id}">
   <input type="hidden" name="funcion" id="funcion" value="registrar_modificacion_material">
   
    <table align="center" width="95%">
          <tr>
		     <th colspan="6"> Datos Material </th>
  		 </tr>
		 <tr>
		     <td class="enunciados"> Descripcion: </td>
		     <td class="body-sector">{$datos_materiales.nombre}-{$datos_materiales.descripcion} </td>
	    </tr>
		<tr>
			  <td class="enunciados"> Dimensiones: </td>
		      <td class="body-sector">{$datos_materiales.largo}x{$datos_materiales.ancho} </td>
			  <td class="enunciados"> Unidad: </td>
		      <td class="body-sector">{$datos_materiales.unidad} </td>
	    </tr>
		<tr>
		<th  colspan="6"> Datos a actualizarse </th>
		 {if $errores.err_texto_material != null }
	  <tr> 
    	<td colspan="2" align="center" class="error-box"> {$errores.err_texto_material} </td>
	  </tr>
     {/if}
       <tr>
	    <td class="enunciados" >Descripcion del material:</td>
	    <td colspan="3"><input name="texto_material" type="text" id="material" value="{if $material != null}{$material}{else}{$datos_materiales.nombre}-{$datos_materiales.descripcion}{/if}" tabindex="1" size="50"  onkeypress="{literal}if(window.event.keyCode==13) document.modificar_despiece_piezas_material.modificar.focus(); {/literal}" />
        <span id="spinner" style="display: none"> <img src="../../templates/imagenes/spinner.gif" alt="Consultando…" /> </span>
        <div id="lista_materiales" class="autorelleno"> </div>
      {literal}
      <script>
					new Ajax.Autocompleter("material", "lista_materiales", "../../controladores/sistema_de_produccion/modificar_despiece.php?busqueda_ajax=materiales", {method:"post", paramName: "value", minChars: 1, indicator: "spinner",afterUpdateElement : get_seleccion_id})
					function get_seleccion_id(text,li)
					{ 
					  cadena=li.id;
					  caracteristicas=cadena.split("-");
					  document.getElementById("dimensiones").value = caracteristicas[1];
  					  document.getElementById("desperdicio").value = caracteristicas[2];    
					  document.getElementById("unidad").value = caracteristicas[0];
					  
					}
					
								</script>
      {/literal} </td>
	   <td class="body-sector"> <input type="text" name="unidad" id="unidad"  disabled="disabled" size="5" value="{$datos_materiales.unidad}" tabindex="3"/> </td>
    <td class="body-sector"><a class="link-orden" href="javascript:ventanaSecundaria ('registrar_material.php')"> registrar material</a> </td>
  </tr>
      <tr>
		      <td class="enunciados">  Dimensiones :  </td> <td class="body-sector"> <input type="text" name="dimensiones" id="dimensiones"  disabled="disabled" value="{$datos_materiales.largo}x{$datos_materiales.ancho}" tabindex="4"/> </td>
	 </tr>
	 <tr>
			  <td class="enunciados">  Desperdicio:   </td> <td class="body-sector"> <input type="text" name="desperdicio" id="desperdicio"  disabled="disabled" value="{$datos_materiales.desperdicio}" tabindex="5"/> </td>
		  </tr>
		   <tr>
  
    <td  colspan="6" align="center"><input name="modificar" type="submit" value="Modificar material" tabindex="2" class="enviar" onmouseover="this.className='boton'" onmouseout="this.className='enviar'"/>    </td>
  </tr>
    </table>
</form>	
