{include file="../templates/sistema_de_produccion/cabecera.html" title=".:: Macaws S.R.L. - Sistema Interno ::."}
{literal}
<style media="print">

.banner,.link_sesion, #imprimir{
    display: none;
}
td, th,td.enunciados,td.datos-reporte{
    letter-spacing:3px!important;
	background-color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:8px;
	vertical-align:middle;
    padding:5px;
    /*border-left: solid black 1px;
    border-right: solid black 1px;*/
}
th {
   border: solid black 1px; 
}
</style>
{/literal}
<br />
<table width="95%" border="0" align="center" cellpadding="2" cellspacing="1">
	<tr>
		<th colspan="8">Orden de Producci&oacute;n</th>  
	</tr>
	<tr>
		<td class="enunciados">No.:</td>
		<td class="datos-reporte">{$cabecera.numero_orden}</td>
		<td class="enunciados">CUP No.:</td>
		<td class="datos-reporte">{$cabecera.cup_num}</td>
		<td class="enunciados">Cliente:</td>
		<td class="datos-reporte">{$cabecera.cliente} </td>
		<td class="enunciados">No.Ref. Cliente:</td>
		<td class="datos-reporte">{$cabecera.cliente_id}</td>
	</tr>
	<tr>
		<td class="enunciados">Fecha:</td>
		<td class="datos-reporte" style="text-align:center;">{$cabecera.fecha}</td>
		<td class="enunciados">Fecha Entrega/Despacho:</td>
		<td class="datos-reporte" style="text-align:center;">{$cabecera.fecha_entrega}</td>
		<td class="enunciados">Fecha Reprogramación:</td>
		<td class="datos-reporte" style="text-align:center;">{$cabecera.fecha_reprogramacion}</td>
		<td/>
		<td/>
	</tr>
</table>

<br />
{if $detalle != null}
	<table class="tablaAsignacion"  width="95%" border="0" align="center" cellpadding="2" cellspacing="1">
	<tr>
		<th colspan="11">Detalle de asignaci&oacute;n</th>	           
	</tr>
	
	<tr>
		<td class="enunciados" style="text-align:center;">Total</td>
		<td class="enunciados" style="text-align:center;">Producto</td>
		<td class="enunciados" style="text-align:center;">Tipo</td><!-- modificado por samuel !-->
		<td class="enunciados" style="text-align:center;">Pedido</td>
		<td class="enunciados" style="text-align:center;">Estado Pedido</td><!-- modificado por samuel !-->
		<td class="enunciados" style="text-align:center;">Cuero</td>
		<td class="enunciados" style="text-align:center;">Color</td>
		<td class="enunciados" style="text-align:center;">Clip</td>
		<td class="enunciados" style="text-align:center;">Asig.</td>
		<td class="enunciados" style="text-align:center;">Entr.</td>
		<td class="enunciados" style="text-align:center;">Pend.</td>
	</tr>

	{assign var=CSSclass value=0}
	{assign var=clases value="lista-normal"}
	
	{foreach name=contenido item=orden from=$detalle}
		{assign var="CSSclass" value="`$CSSclass+1`"}
		{if ($CSSclass mod 2) eq 0}
			{assign var=clases value="lista-seleccionada"}
		{else}
			{assign var=clases value="lista-normal"}
		{/if}
		{assign var=detalle_id value=$orden.detalle_id}
	<tr class="{$clases}" onMouseOver="this.style.cursor = 'pointer';this.className = 'lista_terrible';" onMouseOut="this.className = '{$clases}';">
		<td style="text-align:center;">{$orden.cantidad}</td>
		<!--  FUE MODIFICADO POR SAMUEL  <td style="text-align:left;">
			{if $orden.asignados+$orden.pendientes != $orden.cantidad}
				<span style='background-color:red;'>&nbsp;{$orden.nombre_familia}</span>
			{else}
				<a href="../../controladores/sistema_de_produccion/asignacion.php?opcion=3&oid={$cabecera.codigo}&did={$detalle_id}">{$orden.nombre_familia}</a>
			{/if}
		</td>!-->
		<td style="text-align:left;">
			{if $orden.asignados+$orden.pendientes != $orden.cantidad}
				<span style='background-color:red;'>&nbsp;{$orden.nombre_familia}</span>
			{else}
            	{if $orden.bloqueado== 1}
                	<a href="../../controladores/sistema_de_produccion/asignacion.php" onmouseover="presionado()">{$orden.nombre_familia}</a>
                {else}
	                <a href="../../controladores/sistema_de_produccion/asignacion.php?opcion=3&oid={$cabecera.codigo}&did={$detalle_id}">{$orden.nombre_familia}</a>
                {/if}
			{/if}
		</td>
		<td style="text-align:center;">{$orden.nombre_estilo}</td><!-- modificado por samuel !-->
		<td style="text-align:center;">{$orden.pedido}</td>
		<td style="text-align:center;">{if $orden.bloqueado== 1}
		  <div style="background:#CC3300">Cancelado</div>{else}Activo{/if}</td> <!-- modificado por samuel !-->
		<td style="text-align:center;">{$orden.cuero}</td>
		<td style="text-align:center;">{$orden.color}</td>
		<td style="text-align:center;">{$orden.clip}</td>
		<td style="text-align:center;">{$orden.asignados-$orden.entregados}</td>
		<td style="text-align:center;">{$orden.entregados}</td>
		<td style="text-align:center;">{$orden.pendientes}</td>
	</tr>
	{/foreach}
	<tr>
		<td colspan="11"><hr/></td>
	</tr>
	<tr class="lista-seleccionada" style="text-align:center;">
		<td>{$resumen_numerico.cantidad}</td>
		<td /><td /><td /><td /><td /><td/><td/>
		<td>{$resumen_numerico.cant_asignada-$resumen_numerico.cant_entregada}</td>
		<td>{$resumen_numerico.cant_entregada}</td>
		<td>{$resumen_numerico.cant_pendiente}</td>
	</tr>
    <tr>
        <td colspan="10" align="center">
            <input align="center" type="button" id="imprimir" name="imprimir" value="Imprimir Detalle" onclick="window.print();"/>
        </td>
    </tr>
	</table>
{else}
	<table width="95%" border="0" align="center" cellpadding="0" cellspacing="3">
	  <tr>
		<td>
			<div class="anuncio" align="center"><img src="../../templates/imagenes/advertencia.gif" style="vertical-align:middle"/>&nbsp;&nbsp;&nbsp;Esta Orden no tiene productos</div>
		</td>
	  </tr>
	</table>
{/if}
    
	<br />
	<br />
	
{include file="../templates/contenido/includes/pie.html"}