{include file="../templates/sistema_de_produccion/cabecera.html" title=".:: Macaws S.R.L. - Sistema Interno ::."}

<br />
<table width="95%" border="0" align="center" cellpadding="2" cellspacing="1">
	<tr>
		<th colspan="8">Orden de Producci&oacute;n</th>  
	</tr>
	<tr>
		<td class="enunciados">No.:</td>
		<td class="datos-reporte">{$cabecera.numero_orden}</td>
		<td class="enunciados">CUP No.:</td>
		<td class="datos-reporte">{$cabecera.cup_num}</td>
		<td class="enunciados">Cliente:</td>
		<td class="datos-reporte">{$cabecera.cliente} </td>
		<td class="enunciados">No.Ref. Cliente:</td>
		<td class="datos-reporte">{$cabecera.cliente_id}</td>
	</tr>
	<tr>
		<td class="enunciados">Fecha:</td>
		<td class="datos-reporte" style="text-align:center;">{$cabecera.fecha}</td>
		<td class="enunciados">Fecha Entrega/Despacho:</td>
		<td class="datos-reporte" style="text-align:center;">{$cabecera.fecha_entrega}</td>
		<td class="enunciados">Fecha Reprogramación:</td>
		<td class="datos-reporte" style="text-align:center;">{$cabecera.fecha_reprogramacion}</td>
		<td/>
		<td/>
	</tr>
</table>

<br />
{if $detalle != null}
	<table  width="95%" border="0" align="center" cellpadding="2" cellspacing="1">
	<tr>
		<th colspan="8">Detalle de asignaci&oacute;n</th>	           
	</tr>
	
	<tr>
		<td class="enunciados" style="text-align:center;">Total</td>
		<td class="enunciados" style="text-align:center;">Producto</td>
		<td class="enunciados" style="text-align:center;">Tipo</td>
		<td class="enunciados" style="text-align:center;">Color</td>
		<td class="enunciados" style="text-align:center;">Clip</td>
		<td class="enunciados" style="text-align:center;">Asig.</td>
		<td class="enunciados" style="text-align:center;">Entr.</td>
		<td class="enunciados" style="text-align:center;">Pend.</td>
	</tr>

	{assign var=CSSclass value=0}
	{assign var=clases value="lista-normal"}
	
	{foreach name=contenido item=orden from=$detalle}
		{assign var="CSSclass" value="`$CSSclass+1`"}
		{if ($CSSclass mod 2) eq 0}
			{assign var=clases value="lista-seleccionada"}
		{else}
			{assign var=clases value="lista-normal"}
		{/if}
		{assign var=detalle_id value=$orden.detalle_id}
	<tr class="{$clases}" onMouseOver="this.style.cursor = 'pointer';this.className = 'lista_terrible';" onMouseOut="this.className = '{$clases}';">
		<td style="text-align:center;">{$orden.cantidad}</td>
		<td style="text-align:left;"><a href="../../controladores/sistema_de_produccion/asignacion.php?opcion=9&oid={$cabecera.codigo}&did={$detalle_id}">{$orden.nombre_familia}</a></td>
		<td style="text-align:center;">{$orden.nombre_estilo}</td>
		<td style="text-align:center;">{$orden.color}</td>
		<td style="text-align:center;">{$orden.clip}</td>
		<td style="text-align:center;">{$orden.asignados-$orden.entregados}</td>
		<td style="text-align:center;">{$orden.entregados}</td>
		<td style="text-align:center;">{$orden.pendientes}</td>
	</tr>
	{/foreach}
	<tr>
		<td colspan="8"><hr/></td>
	</tr>
	</table>
{else}
	<table width="95%" border="0" align="center" cellpadding="0" cellspacing="3">
	  <tr>
		<td>
			<div class="anuncio" align="center"><img src="../../templates/imagenes/advertencia.gif" style="vertical-align:middle"/>&nbsp;&nbsp;&nbsp;Esta Orden no tiene productos</div>
		</td>
	  </tr>
	</table>
{/if}
	<br />
	<br />
{include file="../templates/contenido/includes/pie.html"}