{include file="../templates/sistema_de_produccion/cabecera.html" title=".:: Macaws S.R.L. - Sistema Interno ::."}
<br />

{literal}
<script src="../../templates/indicadores/script.js"></script>
{/literal}

<div align="right">
<a href="indicadores.php?opcion=lista_indicadores&area=Producción">Indicadores de Producción</a>
&nbsp;&nbsp;&nbsp;&nbsp;<br /><br />
</div>

<table width="95%" border="0" cellspacing="2" cellpadding="1" align="center" style="border-collapse:collapse;">
  <tr>
    <th colspan="2">Composici&oacute;n de los rechazos de producci&oacute;n</th>
  </tr>
  <tr class="lista-normal">
    <td colspan="2" style="font-size:1.2em;padding:5px;">
	<strong>Descripci&oacute;n:</strong> Realizar la medición por tipo de rechazo tomando en cuenta la totalidad de la producción.
	</td>
  </tr>
  
  <tr>
    <td class="enunciados">{$mes3|date_format:'%B, %Y'} ({$fecha_ini_mes3} | {$fecha_fin_mes3})</td>
    <td rowspan="3" align="center">
		<img src="../../clases/indicadores/class.graphic.php?{$params_mes3}" border="1" alt="Indicador 2" style="height:200px;width:260px;" />	</td>
  </tr>
  <tr class="lista-normal">
    <td valign="top">
		{if $lista_indicador_2_general_mes3 != null}
		<form method="post" name="form1" action="indicadores.php?opcion=valores1">
			<table width="100%" border="1" cellspacing="2" cellpadding="1" align="center" style="border-collapse:collapse;">
			<tr><th colspan="5">{if $mostrarBoton}
			  <input type="submit" name="grabar" value="Actualizar Indicadores" class="enviar" onmouseover="this.className='boton'" onmouseout="this.className='enviar'"/>{/if}</th></tr>
			<tr class="enunciados" style="text-align:center">
			  <td>N&deg;</td><td>Tipo de Fallo</td><td>Asig</td><td>Rech</td>
			  <td>(Rech / Total)*100%</td>
			</tr>
			{assign var=sum value=0}
			{assign var=per value=0}
			{foreach name=lista item=item from=$lista_indicador_2_general_mes3}
			<tr class="lista-normal">
				<td align="center">{$item.numero}</td><td>{$item.fallo}</td><td align="right">{$item.asignado}</td><td align="right">{$item.rechazado}</td><td align="right">{$item.porcentaje|commify:5}
				  <input type="hidden" name="area" value="Producción" />
                  <input type="hidden" name="fecha" value="{$fecha_ini_mes3}" />
                  <input type="hidden" name="indi[{$item.indicador_id}]" value="{$item.porcentaje}">%</td>
			</tr>
			{assign var="sum" value="`$sum+$item.asignado`"}
			{assign var="per" value="`$per+$item.rechazado`"}
			{/foreach}
			<tr align="right" class="lista-seleccionada">
				<td colspan="2">Total:</td><td>{$sum}</td><td>{$per}</td><td>&nbsp;</td>
			</tr>
			</table>
		 {/if}
      <br /> 
      </form>
	</td>
  </tr>
  <tr class="lista-normal">
    <td></td>
  </tr>
  
  <tr>
    <td class="enunciados">{$mes2|date_format:'%B, %Y'} ({$fecha_ini_mes2} | {$fecha_fin_mes2})</td>
    <td rowspan="3" align="center">
		<img src="../../clases/indicadores/class.graphic.php?{$params_mes2}" border="1" alt="Indicador 2" style="height:200px;width:260px;" />	</td>
  </tr>
  <tr class="lista-normal">
    <td valign="top">
		{if $lista_indicador_2_general_mes2 != null}
			<table width="100%" border="1" cellspacing="2" cellpadding="1" align="center" style="border-collapse:collapse;">
			<tr><th colspan="5">Detalle</th></tr>
			<tr class="enunciados" style="text-align:center">
			  <td>N&deg;</td><td>Tipo de Fallo</td><td>Asig</td><td>Rech</td>
			  <td>(Rech / Total)*100%</td>
			</tr>
			{assign var=sum value=0}
			{assign var=per value=0}
			{foreach name=lista item=item from=$lista_indicador_2_general_mes2}
			<tr class="lista-normal">
				<td align="center">{$item.numero}</td><td>{$item.fallo}</td><td align="right">{$item.asignado}</td><td align="right">{$item.rechazado}</td>
				<td align="right">{$item.porcentaje}%</td>
			</tr>
			{assign var="sum" value="`$sum+$item.asignado`"}
			{assign var="per" value="`$per+$item.rechazado`"}
			{/foreach}
			<tr align="right" class="lista-seleccionada">
				<td colspan="2">Total:</td><td>{$sum}</td><td>{$per}</td><td>&nbsp;</td>
			</tr>
			</table>
		{/if}
	</td>
  </tr>
  <tr class="lista-normal">
    <td></td>
  </tr>
  
  <tr>
    <td class="enunciados">{$mes1|date_format:'%B, %Y'} ({$fecha_ini_mes1} | {$fecha_fin_mes1})</td>
    <td rowspan="3" align="center">
		<img src="../../clases/indicadores/class.graphic.php?{$params_mes1}" border="1" alt="Indicador 2" style="height:200px;width:260px;" />	</td>
  </tr>
  <tr class="lista-normal">
    <td valign="top">
		{if $lista_indicador_2_general_mes1 != null}
			<table width="100%" border="1" cellspacing="2" cellpadding="1" align="center" style="border-collapse:collapse;">
			<tr><th colspan="5">Detalle</th></tr>
			<tr class="enunciados" style="text-align:center">
			  <td>N&deg;</td><td>Tipo de Fallo</td><td>Asig</td><td>Rech</td>
			  <td>(Rech / Total)*100%</td>
			</tr>
			{assign var=sum value=0}
			{assign var=per value=0}
			{foreach name=lista item=item from=$lista_indicador_2_general_mes1}
			<tr class="lista-normal">
				<td align="center">{$item.numero}</td><td>{$item.fallo}</td><td align="right">{$item.asignado}</td><td align="right">{$item.rechazado}</td>
				<td align="right">{$item.porcentaje|commify:5}%</td>
			</tr>
			{assign var="sum" value="`$sum+$item.asignado`"}
			{assign var="per" value="`$per+$item.rechazado`"}
			{/foreach}
			<tr align="right" class="lista-seleccionada">
				<td colspan="2">Total:</td><td>{$sum}</td><td>{$per}</td><td>&nbsp;</td>
			</tr>
			</table>
		{/if}
	</td>
  </tr>
  <tr class="lista-normal">
    <td></td>
  </tr>
</table>

<br />
<br />

<div id="contenido" style="text-align:center;">
</div>

<br />
<br />

<div id="ingresar" style="display:none;text-align:center;">
</div>